header {
  display: flex;

  img {
    object-fit: contain;
    position: absolute;
    left: 0;
    margin: 2.08vw;
  }
  nav {
    ul {
      display: flex;

      list-style-type: none;
      li {
        margin: 2.6vw 3.1vw 2.6vw 0;
      }
    }
  }
}
